@page "/walletrecover"

@using Blockcore.Features.Wallet.Interfaces
@using NBitcoin;
@using Blockcore.Features.Wallet.Api.Controllers

@inject NavigationManager NavigationManager
@inject IWalletManager WalletManager
@inject Blockcore.Utilities.IDateTimeProvider DateTimeProvider
@inject IWalletSyncManager WalletSyncManager

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2"><strong>Recover a Wallet</strong></h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    </div>
</div>

<p>Recover your wallet by entering your Mnemonic & your passphrase. Then give your wallet a name & password.</p>
@{
<div class="row ">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span style="min-width: 15em" class="input-group-text">Mnemonic</span>
                    </div>
                    <textarea @bind="Mnemonic" class="form-control" rows="2" placeholder="Please enter your mnemonic seed words">@Mnemonic</textarea>
                </div>
                <p><strong>Reminder:</strong> The Mnemonic is your wallet and must be kept safe and secure.</p>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span style="min-width: 15em" class="input-group-text">Passphrase (optional):</span>
                    </div>
                    <input @bind="Passphrase" type="password" class="form-control" placeholder="If you used a passphrase when creating the wallet, enter it here" />
                </div>
                <p><strong>Reminder:</strong> The Passphrase is permanently linked to the wallet and must be kept safe and secure.</p>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span style="min-width: 15em" class="input-group-text" id="basic-addon1">Wallet name:</span>
                    </div>
                    <input @bind="WalletName" type="text" class="form-control" placeholder="Please enter your wallet name" />
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span style="min-width: 15em" class="input-group-text">Wallet Password:</span>
                    </div>
                    <input @bind="Password" type="password" class="form-control" placeholder="Please enter your password" />
                </div>

                <button class="btn btn-primary" @onclick="RecoverWallet">Recover wallet</button>

                <br />
                <div class="input-group mb-3">
                    <div class="alert-warning">@Alert</div>
                </div>
            </div>
        </div>
    </div>
</div>
}

@code {

    public string WalletName { get; set; }
    public string AccountName { get; set; }
    public string Mnemonic { get; set; }
    private string Password { get; set; }
    private string Passphrase { get; set; }

    string Alert { get; set; }

    private void NavigateToReceiveWallet(string walletName, string accountname)
    {
        NavigationManager.NavigateTo("walletreceive/" + walletName + "/" + accountname);
    }

    private void NavigateToSendWallet(string walletName, string accountname)
    {
        NavigationManager.NavigateTo("walletsend/" + walletName + "/" + accountname);
    }

    private void NavigateToWallets()
    {
        NavigationManager.NavigateTo("wallets");
    }

    private void RecoverWallet()
    {
        if (string.IsNullOrEmpty(this.Password)) { this.Alert = "Please enter a password"; return; }
        if (string.IsNullOrEmpty(this.Mnemonic)) { this.Alert = "Ensure that you have entered your Mnemonic"; return; }
        if (string.IsNullOrEmpty(this.WalletName)) { this.Alert = "Please enter a wallet name"; return; }

        if (this.Passphrase == null)
            this.Passphrase = string.Empty;

        this.Alert = string.Empty;

        var wallet = this.WalletManager.RecoverWallet(this.Password, this.WalletName, this.Mnemonic, this.DateTimeProvider.GetUtcNow(), passphrase: this.Passphrase);

        NavigationManager.NavigateTo("walletaccount/" + WalletName + "/account 0");
    }

}