@page "/walletreceive/{walletname}/{accountname}"

@using Blockcore.Features.Wallet.Interfaces
@using Blockcore.Features.Wallet;
@using Blockcore.Features.Wallet.Types

@inject IWalletManager WalletManager
@inject NavigationManager NavigationManager

<h3>Receive Coins</h3>

<p>Generate receive address for <strong> @walletname / @accountname</strong></p>

@{
    var result = this.WalletManager.GetUnusedAddress(new WalletAccountReference(walletname, accountname));

    <ul class="list-group">
        <li class="list-group-item">Address: @result.Address</li>
        <li class="list-group-item">Segwit Address: @result.Bech32Address</li>
    </ul>
}

@code {

    [Parameter]
    public string walletname { get; set; }
    [Parameter]
    public string accountname { get; set; }

    private void NavigateToWalletAccount(string walletName, string accountname)
    {
        NavigationManager.NavigateTo("walletaccount/" + walletName + "/" + accountname);
    }
}