@inherits LayoutComponentBase

    <BlazoredToasts Position="ToastPosition.BottomRight"
                    Timeout="10"
                    IconType="IconType.Material"
                    ErrorIcon="error_outline"
                    InfoIcon="school"
                    SuccessIcon="done_outline"
                    WarningIcon="warning"
                    ShowProgressBar="@true"/>

    <BlazoredModal />
    <Modal />

    <div class="sidebar bg-dark">
        <NavMenu />
    </div>

    <div class="main">

        @* <div class="top-row p-4 border-bottom">
            <span class="float-right">
            <a href="/docs/index.html" target="_blank">Open API</a>
            <a href="/ws-ui/index.html" target="_blank">Web Socket</a>
            <a href="https://www.blockcore.net" target="_blank">Blockcore</a>
            </span>
        </div> *@

        <div class="container pt-3">
            @Body
        </div>

    </div>