@page "/peers"

@using Dashboard.Data
@inject IndexService IndexService

<h2>Connected peers</h2>

<p>Information about connected peers.</p>

@if (IndexService == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Ip</th>
                <th>Inbound</th>
                <th>Agent</th>
                <th>Time Offset</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var peer in IndexService.ConnectionManager.ConnectedPeers)
            {
                <tr>
                    <td>@peer.RemoteSocketEndpoint.ToString()</td>
                    <td>@peer.Inbound</td>
                    <td>@peer.PeerVersion?.UserAgent</td>
                    <td>@peer.TimeOffset.Value</td>
                </tr>
            }
        </tbody>
    </table>
}