@page "/"
@using Dashboard.Data
@inject IndexService IndexService

<h2>@IndexService.Network.Name node.</h2>

@if (IndexService == null)
{
    <p><em>Loading...</em></p>
}
else
{
    if (IndexService.InitialBlockDownloadState.IsInitialBlockDownload())
    {
        <p>In IBD</p>
    }

    <p>Connected peers: @IndexService.ConnectionManager.ConnectedPeers.Count()</p>
    <p>Current tip at height: @IndexService.ChainIndexer.Tip.Height</p>
}