@using Blockcore.Features.Wallet.AddressBook
@using Blockcore.Features.Wallet.Exceptions
@using Blockcore.Features.Wallet.Interfaces
@using Blockcore.Features.Wallet.Api.Controllers
@using Blockcore.UI.BlazorModal


@inject IAddressBookManager addressBookManager
@inject NavigationManager NavigationManager
@inject IWalletManager WalletManager
@inject Blockcore.Utilities.IDateTimeProvider DateTimeProvider
@inject IWalletSyncManager WalletSyncManager
@inject ModalService ModalService



@if (ShowForm)
{
 
            <div class="card">

                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">
                            <span class="text">Label</span>
                        </label>
                        <div class="col-sm-10">
                            <input @bind="Label" type="text" class="form-control bg-secondary text-light" placeholder="Please enter your AddressBook Label" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">
                            <span class="text">Address</span>
                        </label>
                        <div class="col-sm-10">
                            <input @bind="Address" type="text" class="form-control bg-secondary text-light" placeholder="Please enter your Address" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">

                        </label>
                        <div class="col-sm-10">
                            <div class="text-danger">@Alert</div>
                        </div>

                    </div>

                </div>
                <div class="card-footer">
                    @if (IsSubmitting)
                    {
                        <button class="btn btn-danger" disabled>
                            <span class="spinner-border spinner-border-sm"></span> Working ...
                        </button>
                    }
                    else
                    {
                        <button class="btn btn-success" @onclick="callCreateaddressBook">Create New AddreeBook</button>
                    }
                </div>
            </div>
 
}
else
{
    <div class="row ">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="text-success">@Alert</h5>
                    <button class="btn btn-primary" @onclick="CloseModal">Close</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    bool ShowForm { get; set; } = true;
    string Label { get; set; }
    string Address { get; set; }
    string Alert { get; set; }
    private bool IsSubmitting { get; set; }
    private async Task callCreateaddressBook()
    {
        IsSubmitting = true;
        StateHasChanged();
        await Task.Delay(1);  // flush changes
        await CreateaddressBook();
        IsSubmitting = false;
        StateHasChanged();
        await Task.Delay(10);
    }



    private async Task CreateaddressBook()
    {
        if (string.IsNullOrEmpty(this.Label)) { this.Alert = "Please enter your AddressBook Label"; return; }
        if (string.IsNullOrEmpty(this.Address)) { this.Alert = "Please enter your Address"; return; }
        try
        {
            var _NewAddress = this.addressBookManager.AddNewAddress(Label, Address);
            this.Alert = "Your AddressBook has now been created.";
            ShowForm = false;

        }
        catch
        {
            this.Alert = "There was a problem adding an address to the address book.";
        }
        await Task.CompletedTask;
    }

    private void CloseModal()
    {

        ModalService.Close();
        NavigationManager.NavigateTo("walletsend/" + ModalService.Parameter.ToString().Split(Convert.ToChar("|"))[0] + "/" + ModalService.Parameter.ToString().Split(Convert.ToChar("|"))[1]);
        AddressBookNotification.AddressBookChanged(this, true);
        //  NavigationManager.NavigateTo("walletsend/MyWallet/account 0");
    }
}