<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Dashboard</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="logs">
                <span class="oi oi-plus" aria-hidden="true"></span> Logs
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="peers">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Peers
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="wallets">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Wallets
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="coldstaking">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Cold Staking
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}