name: Build

on: 
  push:
    branches:
      - master

jobs:
  
  buildAndUnitTest:

    strategy:
      matrix:
        os: [ windows-latest, ubuntu-latest, macos-latest ]
      fail-fast: false

    runs-on: ${{ matrix.os }}
    
    env:
      SOLUTION_PATH: 'src/Blockcore.sln'
      BUILD_CONFIGURATION: 'Release'

    steps:

    - uses: actions/checkout@v1
      name: Checkout
      
    - name: Setup Node.js (12.x)
      uses: actions/setup-node@v1
      with:
        node-version: 12.x

    - name: Variables
      run: |
        echo "::set-env name=VERSION::$(npm run version --silent)"

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '3.1.101' 

    # - name: Unit Test
    #   run: dotnet test -v=normal --no-build --filter FullyQualifiedName!~IntegrationTests --configuration ${{env.BUILD_CONFIGURATION}} ${{env.SOLUTION_PATH}}

    - name: Nuget Pack
      if: matrix.os == 'ubuntu-latest'
      run: dotnet pack --configuration ${{env.BUILD_CONFIGURATION}} --output "${{github.workspace}}/package/" ${{env.SOLUTION_PATH}}

    - name: Release
      if: matrix.os == 'ubuntu-latest'
      uses: sondreb/action-release@master
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        files: "${{github.workspace}}/package/"
        draft: true
        prerelease: true
        body: ''
        name: "Blockcore ${{env.VERSION}}"
        tag: ${{env.VERSION}}