name: Test

on: 
  schedule:
    - cron:  '0 3 * * *'
  repository_dispatch:
    types: [test]
  workflow_dispatch:

jobs:
  
  integrationTest:

    strategy:
      matrix:
        os: [ windows-latest, ubuntu-latest, macos-latest ]
      fail-fast: false

    runs-on: ${{ matrix.os }}
    
    env:
      SOLUTION_PATH: 'src/Blockcore.sln'
      BUILD_CONFIGURATION: 'Release'

    steps:

    - uses: actions/checkout@v2
      
    - name: Restore
      run: dotnet restore ${{env.SOLUTION_PATH}}
      
    - name: Build
      run: dotnet build --configuration ${{env.BUILD_CONFIGURATION}} ${{env.SOLUTION_PATH}}

    - name: Integration Test
      run: dotnet test -v=normal --no-build --filter 'FullyQualifiedName~IntegrationTests&Unstable!=True' --configuration ${{env.BUILD_CONFIGURATION}} ${{env.SOLUTION_PATH}}